<div class="container">
    <table width="100%" border="0px" *ngIf="type != 'light'">
        <tr>
            <td>
                <clr-icon *ngIf="type == 'temperature'" shape="thermometer" size="32"></clr-icon>
                <clr-icon *ngIf="type == 'contact'" shape="view-cards" size="32"></clr-icon>
                <clr-icon *ngIf="type == 'motion'" shape="eye" size="32"></clr-icon>
            </td>
            <td align="right" valign="middle"><font size="+2">{{value}}</font></td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>{{label}}</strong>
            </td>
        </tr>
    </table>
    <table width="100%" border="0px" *ngIf="type == 'light'">
        <tr>
            <td>
                <clr-icon shape="lightbulb" size="32" *ngIf="sliderValue == 0"></clr-icon>
                <clr-icon shape="lightbulb" size="32" class="is-warning" *ngIf="sliderValue > 0"></clr-icon>
            </td>
            <td align="right" valign="middle">
                <form clrForm>
                    <clr-range-container [clrRangeHasProgress]="true">
                        <input type="range" clrRange [(ngModel)]="sliderValue" name="pct" />
                        <clr-control-helper>{{value}}</clr-control-helper>
                    </clr-range-container>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>{{label}}</strong>
            </td>
        </tr>
    </table>
</div>
