
.container {
    padding: 15px;
    background-color: rgb(240, 244, 246);
    margin: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
}