<div class="container">
    <table width="100%" border="0px">
        <tr>
            <td>
                <clr-icon *ngIf="type == 1" shape="thermometer" size="32"></clr-icon>
                <clr-icon *ngIf="type == 2" shape="view-cards" size="32"></clr-icon>
            </td>
            <td align="right" valign="middle"><font size="+2"><strong>{{value}}</strong></font></td>
        </tr>
        <tr>
            <td colspan="2">
                {{label}}
            </td>
        </tr>
    </table>
</div>
