<form clrForm clrLayout="vertical">
    <clr-input-container>
        <label>Tile Name</label>
        <input clrInput placeholder="Enter tile name here" name="tileName" [(ngModel)]="tileName" />
        <clr-control-helper>Enter a new name for the tile. None of existing Tile Names are allowed!</clr-control-helper>
        <clr-control-error>The Name you entered is invalid or already in use!</clr-control-error>
    </clr-input-container>
    
</form>

<div> 
    <p>Tile Items</p>
    <span (click)="selectItem(item)" *ngFor="let item of tile.items" style="cursor: pointer; font-size: smaller; padding-top: 2px;" [ngClass]="{'label-info': !item?.showOnlyInSummary, 'label-warning': item?.showOnlyInSummary }" class="label clickable">{{item.displayName}}</span>
    <span (click)="createNewItem()" style="cursor: pointer; font-size: smaller; padding-top: 2px;" class="label label-success clickable"> + </span>
</div>

<div *ngIf="selectedItem != null">
    <form clrForm clrLayout="vertical">
        <clr-input-container>
            <label>Item Name</label>
            <input clrInput type="text" [(ngModel)]="selectedItem.name" name="itemName" required />
            <clr-control-helper>Original OpenHab Item Name</clr-control-helper>
            <clr-control-error>No OpenHab Item exists with this name!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Display Name</label>
            <input clrInput type="text" [(ngModel)]="selectedItem.displayName" name="itemDisplayName" required />
            <clr-control-helper>Name of the Item how it should appear in the UI</clr-control-helper>
            <clr-control-error>Invalid Display Name</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Item Category</label>
            <input clrInput type="text" [(ngModel)]="selectedItem.category" name="itemCategory" required />
            <clr-control-helper>Category of the Item</clr-control-helper>
            <clr-control-error>Invalid Category</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Item Unit</label>
            <input clrInput type="text" [(ngModel)]="selectedItem.unit" name="itemUnit" required />
            <clr-control-helper>Unit of the Item eg. °C, %, etc. (optional)</clr-control-helper>
            <clr-control-error>Invalid Unit</clr-control-error>
        </clr-input-container>
    </form>
</div>