
<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" [clrModalClosable]="false" (keyup.esc)="applyConfig(false)" (keyup.enter)="applyConfig(true)">
    <h3 class="modal-title">
        <div *ngIf="alertText != null" class="alert alert-danger" role="alert">
            <div class="alert-items"><div class="alert-item static"><div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div><span class="alert-text">{{alertText}}</span></div></div>
        </div>
        <div *ngIf="alertText2 != null" class="alert alert-danger" role="alert">
            <div class="alert-items"><div class="alert-item static"><div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div><span class="alert-text">{{alertText2}}</span></div></div>
        </div>
        <div *ngIf="alertText3 != null" class="alert alert-danger" role="alert">
            <div class="alert-items"><div class="alert-item static"><div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div><span class="alert-text">{{alertText3}}</span></div></div>
        </div>
        <div *ngIf="alertText4 != null" class="alert alert-danger" role="alert">
            <div class="alert-items"><div class="alert-item static"><div class="alert-icon-wrapper"><clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon></div><span class="alert-text">{{alertText4}}</span></div></div>
        </div>

        <div *ngIf="alertText != null || alertText2 != null || alertText3 != null"><p></p></div>
        <clr-icon shape="pencil" size="22"></clr-icon> &nbsp; {{tileName}} &nbsp; <clr-spinner *ngIf="isLoading" clrInline clrMedium>Saving config</clr-spinner>
        <form clrForm clrLayout="vertical">
            <clr-input-container>
                <label>Tile Name</label>
                <input clrInput placeholder="Enter tile name here" name="tileName" [(ngModel)]="tileName"/>
                <clr-control-helper>Enter a new name for the tile. None of existing Tile Names are allowed!</clr-control-helper>
                <clr-control-error>The Name you entered is invalid or already in use!</clr-control-error>
            </clr-input-container>
        </form>
    </h3>
    <div class="modal-body" *ngIf="tile">
        <p><strong>Tile items</strong></p>
        <span (click)="selectItem(item)" *ngFor="let item of tile.items" style="cursor: pointer; font-size: smaller; padding-top: 2px;" [ngClass]="{'label-info': !item?.showOnlyInSummary, '': item?.showOnlyInSummary, 'strong': item == selectedItem }" class="label clickable">{{item.displayName}}<span (click)="removeItem(item);" class="badge" style="background-color: darkred;"> - </span></span>
        <clr-icon (click)="createNewItem()" shape="plus-circle" style="cursor: pointer;" size="18"></clr-icon>
        <p></p>
        <div *ngIf="selectedItem != null">
            <clr-tabs>
                <clr-tab>
                    <button clrTabLink id="link1">Basics</button>
                    <clr-tab-content id="content1" *clrIfActive>
                        <form clrForm clrLayout="horizontal">
                            <clr-input-container>
                                <label>Display Name</label>
                                <input clrInput type="text" [(ngModel)]="selectedItem.displayName" name="itemDisplayName" required />
                                <clr-control-helper>Name of the Item how it should appear in the UI</clr-control-helper>
                                <clr-control-error>Invalid Display Name</clr-control-error>
                            </clr-input-container>
                            <clr-select-container>
                                <label>Item Name</label>
                                <select clrSelect name="itemName" [(ngModel)]="selectedItem.name" required>
                                    <option *ngFor="let name of availableOpenhabItems" [ngValue]="name">{{name}}</option>
                                </select>
                                <clr-control-helper>Original OpenHab Item Name</clr-control-helper>
                                <clr-control-error>No OpenHab Item exists with this name!</clr-control-error>
                            </clr-select-container>
                            <clr-select-container>
                                <label>Category</label>
                                <select clrSelect name="itemCategory" [(ngModel)]="selectedItem.category" required>
                                    <option *ngFor="let c of categories" [ngValue]="c">{{c}}</option>
                                </select>
                                <clr-control-helper>Category of the Item</clr-control-helper>
                                <clr-control-error>Invalid Category</clr-control-error>
                            </clr-select-container>
                            <clr-input-container>
                                <label>Unit</label>
                                <input clrInput type="text" [(ngModel)]="selectedItem.unit" name="itemUnit" />
                                <clr-control-helper>Unit of the Item eg. °C, %, etc. (optional)</clr-control-helper>
                                <clr-control-error>Invalid Unit</clr-control-error>
                            </clr-input-container>
                        </form>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Group</button>
                    <clr-tab-content *clrIfActive>
                        <form clrForm clrLayout="horizontal">
                            <clr-checkbox-container>
                                <label>Properties</label>
                                <clr-checkbox-wrapper>
                                  <input type="checkbox" clrCheckbox name="itemIsGroup" required value="Is Group" [(ngModel)]="selectedItem.isGroup" />
                                  <label>Is Group?</label>
                                </clr-checkbox-wrapper>
                                <clr-control-helper>Is this item an OpenHab Group?</clr-control-helper>
                            </clr-checkbox-container>
                        </form>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Summary</button>
                    <clr-tab-content *clrIfActive>
                        <form clrForm clrLayout="horizontal">
                            <clr-checkbox-container>
                                <label>Summary</label>
                                <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="itemShowInSummary" required value="Show in Summary" [(ngModel)]="selectedItem.showInSummary" />
                                <label>Show Item in Summary and Tile</label>
                                </clr-checkbox-wrapper>
                                <clr-checkbox-wrapper>
                                <input type="checkbox" clrCheckbox name="itemShowOnlyInSummary" required value="Show Only in Summary" [(ngModel)]="selectedItem.showOnlyInSummary" />
                                <label>Show Item only in Summary</label>
                                </clr-checkbox-wrapper>
                                <clr-control-helper>Summary behavior</clr-control-helper>
                            </clr-checkbox-container>
                        </form>
                    </clr-tab-content>
                </clr-tab>
                <clr-tab>
                    <button clrTabLink>Threshold</button>
                    <clr-tab-content *clrIfActive>
                        <form clrForm clrLayout="horizontal" >
                            <clr-input-container>
                                <label>Warning Threshold</label>
                                <input clrInput type="number" [(ngModel)]="selectedItem.warningThreshold" name="itemUnit" />
                                <clr-control-helper>Value when numeric item value is considered as in Warning (optional)</clr-control-helper>
                                <clr-control-error>Invalid Value</clr-control-error>
                            </clr-input-container>
                            <clr-select-container>
                                <label>Warning Threshold Type</label>
                                <select clrSelect name="itemCategory" [(ngModel)]="selectedItem.warningThresholdType">
                                    <option value="lt">lt</option>
                                    <option value="gt">gt</option>
                                </select>
                                <clr-control-helper>If Warning Threshold is defined: lt = lower than, gt = greater than</clr-control-helper>
                                <clr-control-error>Invalid Category</clr-control-error>
                            </clr-select-container>
                        </form>
                    </clr-tab-content>
                </clr-tab>
            </clr-tabs>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline btn-sm" (click)="applyConfig(false)">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="applyConfig(true)">Ok</button>
    </div>
</clr-modal>