<clr-icon *ngIf="item.category == categoryType.temperature" shape="thermometer" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.contact" shape="axis-chart" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.motion" shape="eye" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.battery" shape="battery" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.sun" shape="sun" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.dimmer" shape="lightbulb" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.switch" shape="switch" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>
<clr-icon *ngIf="item.category == categoryType.alert" shape="warning-standard" [ngClass]="{'is-warning': item?.hasWarning}" size="36"></clr-icon>