.container {
    background-color: white;
    /*  border-color: #28afb0;
    border-width: 0px; */
    border-left: 5px solid #28afb0;
    margin-left: 0px;
    /*border-radius: 7px;*/
    -webkit-box-shadow: 0 0px 5px 0px rgb(161, 161, 161);
    -moz-box-shadow: 0 0px 5px 0px rgb(161, 161, 161);
    box-shadow: 0 0px 5px 0px  rgb(161, 161, 161);
}

.block {
    border: none;
}

.header {
    /* border-radius: 5px 5px 0px 0px; */
    /* background-color: #28afb0; */
    height: 2.2rem;
    vertical-align: middle;
    background-color: white;
    border-bottom: 0px solid #28afb0;
     /* background-color: #28afb0; */
    color: black;
    font-size: large;
    font-weight: 700;
}

div.card-header.header {
    padding: 14px !important;
}

.warning {
    border-left: 5px solid #ceaf41;
}

.critical {
    border-left: 5px solid #c01a14;
}

a.label.clickable {
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}