<div class="card container">
    <div class="card-header header">
       {{tileName}}
    </div>
    
    <div class="card-block block"> 
        <table border="0px" width="100%">
            <tr>
                <td >
                    <div class="clr-row">
                        <div class="clr-col-md-6" style="padding-bottom: 5px;padding-top: 5px;" *ngFor="let item of items">
                            <table border="0px">
                                <tr>
                                    <td align="left" width="20%" style="padding-right: 10px; vertical-align: top;">
                                        <app-itemicon [item]="item"></app-itemicon>
                                    </td>
                                    <td align="left" width="70%" style="padding-right: 10px; vertical-align: middle;">
                                        <div *ngIf="item.category == categoryType.switch">
                                            <a *ngIf="item?.state == 'ON'" (click)="switchWallPlug($event, item)" class="label label-success clickable" style="cursor: pointer; font-size: smaller;">{{item?.transformedState ? item?.transformedState : item?.state}}</a>
                                            <a *ngIf="item?.state == 'OFF'" (click)="switchWallPlug($event, item)" class="label clickable" style="cursor: pointer; font-size: smaller;">{{item?.transformedState ? item?.transformedState : item?.state}}</a>
                                        </div>
                                        <div *ngIf="item.category != categoryType.switch" style="font-size: medium;">
                                            <strong>{{item?.transformedState ? item?.transformedState : item?.state }}</strong>
                                        </div>
                                        <div style="font-size: smaller; vertical-align: top;">
                                            {{item?.label}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>