<div class="card container">
    <div class="card-header header" [ngClass]="{'warning': hasWarningItem == true, 'critical': hasCriticalItem == true }">
       {{tileName}}
    </div>
    
    <div class="card-block block"> 
        <table border="0px" width="100%">
            <tr>
                <td >
                    <div class="clr-row">
                        <div class="clr-col-md-6" style="padding-bottom: 5px;padding-top: 5px;" *ngFor="let item of items">
                            <table border="0px">
                                <tr>
                                    <td align="left" width="20%" style="padding-right: 10px; vertical-align: top;">
                                        <app-itemicon [item]="item"></app-itemicon>
                                    </td>
                                    <td align="left" width="70%" style="padding-right: 10px; vertical-align: middle;">
                                        <div *ngIf="item.category == categoryType.switch">
                                            <a (click)="switchWallPlug($event, item)" class="label clickable" [ngClass]="{'label-success': item?.state == 'ON'}" style="cursor: pointer; font-size: smaller;">{{item?.transformedState }}</a>
                                        </div>
                                        <div *ngIf="item?.category == categoryType.dimmer">
                                            <strong style="font-size: medium;">{{item?.transformedState }}</strong>&nbsp;
                                            <a (click)="setDimmer($event, item, 50)" class="label clickable" [ngClass]="{'label-success': item?.state == 50}" style="cursor: pointer; font-size: smaller;">50 %</a>
                                            <a (click)="setDimmer($event, item, 100)" class="label clickable" [ngClass]="{'label-success': item?.state == 100}" style="cursor: pointer; font-size: smaller;">100 %</a>
                                        </div>

                                        <div *ngIf="item?.category != categoryType.switch && item?.category != categoryType.dimmer" style="font-size: medium;">
                                            <strong>{{item?.transformedState }}</strong>
                                        </div>
                                        <div style="font-size: smaller; vertical-align: top;">
                                            {{item?.label}}&nbsp;<clr-icon shape="info-circle" (click)="openModal($event, item)"></clr-icon>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<clr-modal [(clrModalOpen)]="showModal">
    <h3 class="modal-title">{{item?.label}}</h3>
    <div class="modal-body">
        <div><strong>Item Name:</strong> {{item?.name}}</div>
        <div><strong>State:</strong> {{item?.state}}</div>
        <div *ngIf="item?.transformedState"><strong>Transformed State:</strong> {{item?.transformedState}}</div>
        <div><strong>Warning:</strong> {{item?.hasWarning ? "Y" : "N" }}</div>
        <div><strong>Category:</strong> {{ categoryType[item?.category] }}</div>
        <div *ngIf="stateHistory.length > 0">
            <div><strong>History (last 10):</strong></div>
            <div *ngFor="let state of stateHistory">
                {{state.DateTime | date: 'medium' }}: <strong>{{state.NewValue}}</strong>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
    </div>
  </clr-modal>