<span *ngFor="let category of categories">
    <span *ngFor="let entry of summaryItems.get(category)" style="padding-right: 10px;">
        <span *ngIf="entry.content != null">
            <app-itemicon [item]="entry.items[0]" [iconSize]="24" [hasWarning]="entry.hasWarning" [isCritical]="entry.isCritical" [isDisabled]="entry.disabledIcon"></app-itemicon>
            <span [ngClass]="{'disabled': entry.disabledIcon }" style="padding-left: 5px; font-size: small;" >{{entry.content}}</span>
        </span>
    </span>
</span>
