.container {
    background-color: rgb(240, 244, 246);
    margin: 10px;
    border-color: #28afb0;
    border-width: 2px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 7px 0px rgb(141, 141, 141);
    -moz-box-shadow: 0 2px 7px 0px rgb(141, 141, 141);
    box-shadow: 0 2px 7px 0px  rgb(141, 141, 141);
    border-radius: 5px;
}

.header {
    border-radius: 5px 5px 0px 0px;
    background-color: #28afb0;
}

div.card-header.header {
    padding: 11px !important;
}
.header {
    height: 2.5rem;
}