<div class="card container" *ngIf="!simple">
    <div class="card-header header">
       <font size="+1">{{groupName}}</font>
    </div>
    
    <div class="card-block" *ngFor="let category of categoriesByRoom.get(groupName)">    <!-- categories"> -->
        <table border="0px" width=100%>
            <tr>
                <td style="padding-right: 10px; vertical-align: middle;" width="20%">
                    <clr-icon *ngIf="category == 'temperature'" shape="thermometer" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'contact'" shape="axis-chart" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'motion'" shape="eye" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'battery' && batteryWarning" shape="battery" class="has-badge" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'battery'  && !batteryWarning" shape="battery" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'sun'" shape="sun" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'light'" shape="lightbulb" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'wallplug'" shape="switch" size="32"></clr-icon>
                </td>
                <td width="50%" style="vertical-align: middle;">
                    <div class="card-text" *ngFor="let item of data">
                        <div *ngIf="item.category == category">{{item?.label}}</div>
                    </div>
                </td>
                <td align="right" width="30%" style="vertical-align: middle;">
                    <div class="card-text" *ngFor="let item of data">
                        <div *ngIf="item.category == category && category == 'wallplug'">
                            <a (click)="switchWallPlug($event, item)" class="label clickable" style="cursor: pointer;">{{item?.transformedState}}</a>
                        </div>
                        <div *ngIf="item.category == category && category != 'wallplug'">
                            <strong>{{item?.transformedState }}</strong>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="card container" *ngIf="simple" style="width: fit-content">
    <div class="card-header header">
       <font size="+1">{{groupName}}</font>
    </div>
    <div class="card-block" *ngFor="let category of categoriesByRoom.get(groupName)">    <!-- categories"> -->
        <table align="center"  border="0px" width=100%>
            <tr>
                <td align="center" style="padding-right: 10px; vertical-align: middle;">
                    <clr-icon *ngIf="category == 'temperature'" shape="thermometer" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'contact'" shape="axis-chart" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'motion'" shape="eye" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'battery' && batteryWarning" shape="battery" class="has-badge" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'battery'  && !batteryWarning" shape="battery" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'sun'" shape="sun" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'light'" shape="lightbulb" size="32"></clr-icon>
                    <clr-icon *ngIf="category == 'wallplug'" shape="switch" size="32"></clr-icon>
                </td>
            </tr>
            <tr>
                <td align="center" style="vertical-align: middle;">
                    <div class="card-text" *ngFor="let item of data">
                        <div *ngIf="item.category == category && category == 'wallplug'">
                            <a (click)="switchWallPlug($event, item)" class="label clickable" style="cursor: pointer;">
                                <font size="+1">{{item?.transformedState}}</font>
                            </a>
                        </div>
                        <div *ngIf="item.category == category && category != 'wallplug'">
                            <font size="+1"><strong>{{item?.transformedState }}</strong></font>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--
    <div class="card container">
    <div class="card-header header">
       <font size="+1">{{groupName}}</font>
    </div>
    <div class="card-block" *ngFor="let category of categories">

        <clr-icon *ngIf="category == 'temperature'" shape="thermometer" size="32"></clr-icon>
        <clr-icon *ngIf="category == 'contact'" shape="axis-chart" size="32"></clr-icon>
        <clr-icon *ngIf="category == 'motion'" shape="eye" size="32"></clr-icon>
        <clr-icon *ngIf="category == 'battery'" shape="battery" size="32"></clr-icon>
        <clr-icon *ngIf="category == 'sun'" shape="sun" size="32"></clr-icon>
        <clr-icon *ngIf="category == 'light'" shape="lightbulb" size="32"></clr-icon>

        <div class="card-text" *ngFor="let item of data">
            <div *ngIf="item.category == category">{{item.label}}</div>
        </div>
    </div>
    <div class="card-footer">
        ...
    </div>
</div>
-->