<header class="header-7" style="background-color: #19647e;">
    <div class="branding">
      <a class="nav-link">
        <img src="../../../../assets/icons/appicon-header.png" width="38px" height="38px"/>
        <span class="title" style="font-weight: 200;padding-left: 5px;">{{title}}</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-icon">
        <clr-icon shape="dashboard"></clr-icon>
      </a>
    </div>
    <!--
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
    -->
    <!--
    <div class="header-actions">
      <a class=" nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
    -->
    <!-- <div class="header-actions">
      <clr-dropdown class="dropdown bottom-right">
        <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a clrDropdownItem>About</a>
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div> -->
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="rooms">Rooms</a>
      </li>
    </ul>
  </nav>