
  <div class="card-columns card-columns-2">
    <div  *ngFor="let tile of tiles" >
    <app-tile [items]="itemsByTile.get(tile.title)" [tileName]="tile.title" [hasWarningItem]="warningStateByTile.get(tile.title)"></app-tile>
  </div>
  </div>


<clr-modal [(clrModalOpen)]="showModal">
  <h3 class="modal-title">{{item?.label}}</h3>
  <div class="modal-body">
      <div><strong>Item Name:</strong> {{item?.name}}</div>
      <div><strong>State:</strong> {{item?.state}}</div>
      <div *ngIf="item?.transformedState"><strong>Transformed State:</strong> {{item?.transformedState}}</div>
      <div><strong>Type:</strong> {{item?.type}}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
  </div>
</clr-modal>